
#About img{
    border-radius: 2%;
}

.contente{
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 10%;
    margin: 35% 40%;
}

.image{
    width: 50px;
    height: 50px;
}

 .bi-check-circle-fill{
    margin: 20px 10px;
    color: #008374;
}

.ame{
    font-size: 30px;
    margin: 7px ;
    color: #008374;
 }
 .title{
    font-size: 45px;
}

.position-relative{
    position: relative;
}

#testimonial img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
}



*{
    
}
.navun{
    background: color(srgb 0 0.462353 0.409412);
}
.navun a{
    color: white;
}
.navdeux{
    background-color: #008374;
}
.navdeux a{
    color: white;
}

.sectionun{
    background-color: #008374;
    color: white;
    font-weight: 400;
    font-size: 200px;
    
}
.rang{
    width: 100%;
    height: 250PX;
    background-color: #008374;
    color: white;
    font-size: 25px;

}
.roww{
    display: flex;
    align-items: center;
    justify-content: center;

}

